@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton-Regular";
  src: local("Anton-Regular"),
    url("./assets/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-poppins-regular text-lg h-screen;
  }
}

.authenticationBackground{
  background-image: url("./assets/images/authenticationBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tiptap {
  outline: none;
  border: none;
  padding: 16px;
}

.editor ul {
  list-style: circle;
  padding-left: 40px;
}

.editor ol {
  list-style: decimal;
  padding-left: 40px;
}

.editor p {
  font-size: 16px;
}

.editor h1 {
  font-size: 40px;
}

.editor h2 {
  font-size: 32px;
}

.editor h3 {
  font-size: 28px;
}

.editor h4 {
  font-size: 24px;
}

.editor h5 {
  font-size: 20px;
}

.editor h6 {
  font-size: 18px;
}